body {
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove o padding padrão do body */
}
header {
  background-color: rgb(234, 166, 40);
  margin-top: 0;
  height: 70px;
}

#btn1 {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: transparent;
  margin-left: 50px;
  font-size: 20px;
  cursor: pointer;
}

#Buscar {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

button:hover {
  transform: scale(1.1); /* Aumenta o botão */
}

.header2 {
  display: flex;
}
